.header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    min-height: 285px;
    padding: 91px 23px 91px 27px;
}

.header__menu {
    grid-column: 1/4;
    
}

.header__links-list {
   display: flex;
   justify-content: space-evenly;
   
}

.header__links-list-item {
    list-style: circle;
   
}

.header__links-list-item_no-bullit {
    list-style: none;
    
}

.header__link {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    
    font-weight: normal;
    text-underline-offset: 6px;
    
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    grid-column: 4/6;
   
}

.header__logo-img {
    display: block;
    width: 136px;
    height: 103px;
    margin-left: 6px;
}

address {
    grid-column: 6/8;
    color: #000;
    margin-left: 29px;
    margin-top: 2px;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
}

.address__link {
    text-underline-offset: 5px;   
}

.cover {
   position: relative; 
   height: 744px;
   margin: 3px 9px 9px 9px;
   background-image: url(/images/cover.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   padding: 162px 19px 61px 47px;
   
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
   
}

.cover__title {
    position: relative;
    z-index: 3;
    color: #FFF;
    font-family: Raleway;
    font-weight: bold;
    font-size: 100px;
    line-height: 115%;
    
    text-transform: uppercase;
}   

.aligned-text {
    display: block;
    letter-spacing: 30px;
}

.letter-spacing-extended_first {
    letter-spacing: 60px;
}

.aligned-text_center {
    margin-top: 17px;
    text-align: center;
    margin-right: 29px;
    line-height: 100%; /* 100px */
    letter-spacing: 29px;
}

.letter-spacing-extended_second {
    letter-spacing: 57px;
}

.aligned-text_right {
    margin-top: 11px;
    text-align: right;
    letter-spacing: 29px;
}

.letter-spacing-extended_third {
    letter-spacing: 58px;
}

.cover__descriprtion {
    position: relative;
    z-index: 3;
    padding-top: 135px;
}

.cover__description-text {
    margin-left: 33px;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-weight: normal;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 17px;
}

.cover__descriprtion-spacing {
    word-spacing: 22px;   
}

.bet-button {
    position: absolute;
    background-color: transparent;
    top: 124px;
    right: 30px;
    width: 252px;
    height: 52px;
    border: 1px solid #FFF;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
}

.lots {
    padding-top: 167px;
    
}

.lots__heading {
    color: #000;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    margin-left: 70px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-direction: space-between;
    gap: 24px;
    /* min-height: 100%; */
    margin-top: 27px;
    margin-left: 33px;
    margin-right: 33px;
}

.lots__card-list-item {
    list-style: none;
    
    /* display: flex;
    justify-content: space-between; */
    /* flex-grow: 1; */
    /* width: 328px;
    height: 554px;  */
   
}

.card-link {
    display: block;
    position: relative;
    width: 328px;
    height: 554px;
}

/* .card__overlay {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #000;
   
} */

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* border: 3px solid; */
    padding: 48px 35px 46px 39px;
}
.card_type_film {
    background-image: url(/images/card-lot-01.jpg) ;
    height: 100%;
    z-index: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
       
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;      
}

.card__title {
    position: relative;
    z-index: 2;
    color: #FFF;
    font-family: Raleway;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    text-decoration-line: underline;
    text-transform: uppercase;   
}

.card__text {
    position: relative;
    z-index: 2;
    color: #FFF;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 24px */
}

.lots__look-more-link {
    display: block;
    margin-top: 30px;
    margin-left: 72px;
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-weight: normal;
    text-underline-offset: 3px;
}



